/* ---------------------
------------------------
Project 2 OpenClassRooms 
by Charles-Antoine FENET 
------------------------
-----------------------*/

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
------------General settings----------------------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

/* Wrapper Mobile */
.wrapper {
  max-width: 375px;
}

h1 {
  font-size: 22px;
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
------------header settings-----------------------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

header {
  display: block;
  text-align: center;
}

header .logo {
  padding: 20px 0;
}

header nav ul {
  display: flex;
  /* Verifier il nous avons besoin dedisplay flex sur l'Ul dans le responsive car il est déja ligne 102 dans le desktop */
  justify-content: space-evenly;
}

header nav ul a {
  padding: 13.5px 50px;
  border-top: none;
  border-bottom: 3px solid white;
}

header nav ul li a:hover,
header nav ul li a:active {
  border-bottom: 3px solid var(--booki-blue);
  border-top: none;
  color: var(--booki-blue);
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------🔍🔍🔍 Search bar settings 🔍🔍🔍-----------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

.section-search {
  padding: 18px 0 40px 0;
}

.search-bar input {
  width: 250px;
}

.search-bar button {
  width: 50px;
  border-radius: 15px;
}

.texte-search {
  display: none;
}
.search-bar button i {
  display: block;
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
------------Filters container settings------------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

/* .container-filters{
  display: block;
} */
.container-filters {
  display: block;
}

.filter-items {
  margin: 0 12px 15px 0;
}

.info {
  margin: 0;
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
---------Accommodations Section settings----------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

.accommodations-results {
  flex-direction: column-reverse;
}

.accommodations-results article {
  width: 100%;
  background: white;
  border-radius: 15px;
  padding: 0px;
}


/* Travailler le centrage de mon aside et le padding comme sur la maquette */


.accommodations-results aside {
  width: 100%;
  background: var(--booki-grey);
  border-radius: 0px;
  padding: 20px 0;
  margin-left: 0px;
}

/*************************
--Accommodation Article--
---------Settings--------
************************ */

.container-cards {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.accommodations-card {
  background-color: white;
  border-radius: 15px;
  width: 100%;
}

/*************************
---Accommodation Aside----
---------Settings---------
**************************/

.popular-results {
  padding: 20px;
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
---------Section activities settings----------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

.activities-container {
  flex-wrap: wrap;
  max-height: none;
}

.activity-card {
  border-radius: 15px;
  width: 100%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.pics-1,
.pics-2,
.pics-3,
.pics-4,
.pics-5,
.pics-6 {
  height: 190px;
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
-----------------Footer settings------------------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

.footer-content {
  flex-direction: column;
  row-gap: 25px;
}

.footer-items {
  width: 100%;
}
