/* ---------------------
------------------------
Project 2 OpenClassRooms 
by Charles-Antoine FENET 
style.tablette.css
------------------------
-----------------------*/

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
------------General settings----------------------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

.wrapper {
  max-width: 100%;
}

section {
  margin: 20px 0;
}
/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
------------header settings-----------------------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

header {
  display: block;
  text-align: center;
}

header .logo {
  padding: 20px 0;
}

header ul li {
  width: 100%;
  display: flex;
  justify-content: center;
}

header nav ul a {
  display: block;
  width: 100%;
  padding: 13.5px 50px;
  border-top: none;
  border-bottom: 3px solid var(--booki-grey);
}

header nav ul li a:hover,
header nav ul li a:active {
  border-bottom: 3px solid var(--booki-blue);
  border-top: none;
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------🔍🔍🔍 Search bar settings 🔍🔍🔍-----------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

.section-search {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 19px;
}

.search-bar {
  justify-content: center;
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
------------Filters container settings------------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

.container-filters {
  display: block;
}

.filters-area {
  justify-content: space-between;
  row-gap: 20px;
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
---------Accommodations Section settings----------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

.accommodations-results {
  flex-direction: column-reverse;
  column-gap: 0;
}

.accommodations-results aside {
  width: unset;
  border-radius: unset;
  padding: 40px 15px;
}

.accommodations-results article {
  width: unset;
  background: white;
  border-radius: unset;
  padding: 40px 15px;
}

/*************************
---Accommodation Aside----
---------Settings---------
**************************/

.popular-results {
  flex-direction: row;
  justify-content: space-between;
}

.popular-card {
  width: 32%;
}

.popular-results figure {
  width: 110px;
}

.popular-link figure img {
  height: 120px;
}

.popular-card h3 {
  font-size: 14px;
  padding-bottom: 13px;
}

.popular-link .container {
  padding-left: 12px 5px;
}

.popular-link p {
  font-size: 12px;
}

/*************************
--Accommodation Article--
---------Settings--------
************************ */

.footer-link {
  margin-top: 34px;
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
---------Section activities settings----------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

.activities-results {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.two-pics-container,
.one-pics-container {
  width: 45%;
}

.activities-cards-container {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 43px;
}

/* -----------------------------------------------
--------------------------------------------------
--------------------------------------------------
-----------------Footer settings------------------
--------------------------------------------------
--------------------------------------------------
------------------------------------------------*/

footer {
  padding: 47px 15px;
}

.footer-content ul {
  font-size: 14px;
}
